.logo {
  width: 100px;
  height: 60px;
}

.heading1 {
  max-width: 584px;
  text-align: left;
  padding: 42px 0;
}

.card {
  width: 100%;
  min-height: 185px;
  padding: 1.5rem;
  text-align: center;
  border: 1px solid #b7becc;
  border-radius: 10px;
}

.card_logo {
  width: 44px;
  height: 44px;
  color: #000;
  margin-left: auto;
  margin-right: auto;
}

.card_status {
  padding: 8px;
  border-radius: 8px;
}

.container {
  background-color: #f2fbf6;
}

.main {
  min-height: 100vh;
  padding: 0px 16px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media (min-width: 688px) {
  .main {
    padding: 0px 24px;
    max-width: 1360px;
  }

  .logo {
    width: 134px;
    height: 71px;
  }

  .heading1 {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .card {
    max-width: 304px;
  }
}
